{% comment %}
  Renders icon with text block

  Accepts:
  - block: {Object} passes in the block information.
  - numColumns: int passes in number of columns
  - highest_ratio: highest ratio of all images


  Usage:
  {% render 'grid-item-with-icon',
    block: block,
    numColumns: int
    highest_ratio: num
  %}
{% endcomment %}
{%- liquid
  assign heading_empty = false

  if block.settings.heading == empty
    assign heading_empty = true
  endif
-%}
{%- unless heading_empty -%}
  <li
    class="icon-with-text__item {% if section.settings.column_alignment == 'center' %} center{% endif %}"
    {{ block.shopify_attributes }}
  >
    {%- if block.settings.image == null -%}
      {%- render 'icon-accordion', icon: block.settings.icon -%}
    {%- else -%}
      {% if section.settings.image_ratio == 'adapt' or section.settings.image_ratio == 'circle' %}
        {% assign spaced_image = true %}
      {% endif %}
      <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--{{ section.settings.image_width }}-width{% if section.settings.image_width != 'full' or spaced_image %} multicolumn-card-spacing{% endif %}">
        {%- if block.settings.link != blank -%}
          <a href="{{ block.settings.link }}">
        {% endif %}
        <div
          class="media media--transparent media--{{ section.settings.image_ratio }}"
          {% if section.settings.image_ratio == 'adapt' %}
            style="padding-bottom: {{ 1 | divided_by: highest_ratio | times: 100 }}%;"
          {% endif %}
        >
          {%- liquid
            assign grid_space_desktop = numColumns | minus: 1 | times: settings.spacing_grid_horizontal | plus: 100 | append: 'px'
            assign grid_space_tablet = numColumns | minus: 1 | times: settings.spacing_grid_horizontal | plus: 100 | append: 'px'
            assign grid_space_mobile = numColumns | minus: 1 | times: settings.spacing_grid_horizontal | divided_by: 2 | plus: 30 | append: 'px'
            if section.settings.image_width == 'half'
              assign image_width = 0.5
            elsif section.settings.image_width == 'third'
              assign image_width = 0.33
            else
              assign image_width = 1
            endif
          -%}
          {% capture sizes %}
            (min-width: {{ settings.page_width }}px) calc(({{ settings.page_width }}px - {{ grid_space_desktop }}) * {{ image_width }} /  {{ numColumns }}),
            (min-width: 990px) calc((100vw - {{ grid_space_desktop }}) * {{ image_width }} / {{ numColumns }}),
            (min-width: 750px) calc((100vw - {{ grid_space_tablet }}) * {{ image_width }} / {{ numColumns }}),
            calc((100vw - {{ grid_space_mobile }}) * {{ image_width }} / {{ numColumns }})
          {% endcapture %}
          {{
            block.settings.image
            | image_url: width: 3200
            | image_tag:
              widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200',
              sizes: sizes,
              class: 'multicolumn-card__image'
          }}
        </div>
        {%- if block.settings.link != blank -%}
          </a>
        {%- endif -%}
      </div>
    {%- endif -%}
    <span class="h4 inline-richtext">
      {{- block.settings.heading -}}
    </span>
    <span class="{% if section.settings.hide_description_on_mobile == true %} hide-description-on-mobile {% endif %}">
      {{- block.settings.description -}}
    </span>
  </li>
{%- endunless -%}
